{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}
<div class="content">
    <h1 style="text-align: center;"> To-Do App </h1>
    <table style="border-collapse: collapse; width: 100%; border: 1px solid black;">
        <tr>
            <th style="border: 1px solid black; padding: 8px;"> Task </th>
            <th style="border: 1px solid black; padding: 8px;"> Added </th>
            <th style="border: 1px solid black; padding: 8px;"> Actions </th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td style="border: 1px solid black; padding: 8px;">{{ task.content }}</td>
                <td style="border: 1px solid black; padding: 8px;">{{ task.date_created.date() }}</td>
                <td style="border: 1px solid black; padding: 8px;">
                    <a href="/delete/{{task.id}}">Delete</a>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST" >
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}